* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F0FFF0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* header  */

.header_top {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}

nav {
  line-height: 70px;
  float: left;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.nav_right {
  text-align: right;
  width: 50%;
}

.nav_left {
  width: 50%;
  display: inline;
  float: left;
}

nav.nav_left ul li:nth-child(2):after {
  content: "\007C";
}

/* button */

.button {
  border: 1px solid orange;
  padding: 10px 5px;
  margin: 10px;
  border-radius: 10px;
}

.white.button {
  background-color: white;
}
.white.button a {
  color: orange;
}

.orange.button {
  background-color: orange;
}
.orange.button a {
  color: white;
  text-decoration: none;
}

/* header bottom */

.header_bottom {
  background-color: white;
  height: 10vh;
}

.logo {
  padding: 20px;
}

.banner {
  height: 600px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.text {
  position: relative;
  top: 100px;
  width: 50%;
}
.text p {
  margin: 25px 0;
}

/* sezione cubo */

div.cubo_top img {
  width: 500px;
  display: block;
  margin: auto;
}

.cubo_text {
  text-align: center;
  width: 100%;
  padding: 0 60px;
}

/* sezione colonne */

.col_top {
  width: 100%;
  background-color: white;
  margin: 20px;
}

.col_image {
  float: left;
  padding: 50px;
}

.col_text {
  float: left;
  width: 70%;
  padding: 50px;
}

.col_text ul li {
  display: inline;
}
